<div id="<%= dom_id review %>">
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

</div>
